<style>

body {
  background-color: #f0eeee;
  color: black;
}

nav{
  background-color: #D8D4D3;
  padding: 20px;
  color:black;
  margin-top: 5px;
  margin-left: -50px;
  margin-right: -90px;
  text-transform: uppercase;
  font-family: helvetica;
  font-weight: bold;
}

nav ul {
  width: 32%;
  margin: auto;
  padding: 5px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  text-shadow: 2px 2px 5px white;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {text-align: center;
}
</style>
