body {
  margin: 0;
  padding: 0;
  background-color: cyan;
  color: black;
}

nav{
  background-color: #D8D4D3;
  padding: 20px;
  color:black;
  margin-top: 5px;
  margin-left: -50px;
  margin-right: -90px;
  text-transform: uppercase;
  font-family: helvetica;
  font-weight: bold;
}

nav ul {
  width: 32%;
  margin: auto;
  padding: 5px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  text-shadow: 2px 2px 5px white;
  color: black;
}

.column {
  float: left;
  width: 32%;
  padding: 5px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#cards {
    padding-top: 20px;
    padding-bottom: 150px;
}

#shop-by-brand-logos {
    padding-top: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

 .carousel-inner > .item {
   height: 400px;
}

hr.dashed {
  border-top: 3px dashed black;
}

h2 {
  text-align: center;
}

.footer{
  background-color: #04ECF0;
}

#gmail {
    padding-top: 15px;
}
